
/* CSS Media Query File is Start Here */

@media screen and (min-width: 601px) and (max-width: 1200px) {
    .point {
      margin-left: -5px;
      margin-right: 15px;
      margin-top: 115px;
      margin-bottom: 9px;
    }
  
    .point .material-icons-symbols {
      font-size: 17px;
    }
  
    .point a {
      font-size: 16px;
      padding: 0;
      margin: 10px;
    }
  
    .point .right {
      margin: 0 50px;
    }
  
    .contents {
      margin: 10px;
    }
  
    .contents .contents-border {
      padding-top: 20px;
      border-top: 4px solid rgb(219, 219, 219);
    }
  
    .contents span {
      font-size: 8px;
    }
  
    .contents a p {
      font-size: 10px;
      margin: 10px 0;
    }
  
    .contents .heading {
      font-weight: 100;
      font-size: 14px;
      margin: 5px 0;
    }
  
    .contents .detail {
      font-size: 12px;
    }
  
    .contents .belowdetail p {
      padding: 0;
      font-size: large;
    }
  
    .bottom-first .india {
      margin: 0 0 0 8px;
    }
  
    .bottom-first div {
      margin: 0 0 0 80px;
    }
  
    .bottom-mid {
      margin: 0 0 0 -190px;
    }
  
    .bottom-last {
      height: 60px;
      margin: 0 0 0 15px;
    }
  }
  

  
  @media screen and (max-width: 600px) {
    .navbar {
      height: 140px;
      position: static;
      top: 0;
      right: 0;
      left: 0;
      box-shadow: none;
    }
  
    .navbar .left-navbar .hamburger {
      visibility: visible;
      position: absolute;
      left: 5px;
      top: 10px;
    }
  
    .navbar .left-navbar img {
      margin: 20px;
      height: 40px;
      aspect-ratio: auto 92 / 30;
      width: 100px;
      position: absolute;
      top: 0;
      left: 115px;
    }
  
    .navbar .right-navbar {
      position: absolute;
      top: 5px;
      right: 5px;
      margin: 0;
    }
  
    .navbar .right-navbar #setting {
      visibility: hidden;
    }
  
    .material-icons {
      font-size: 22px;
    }
  
    .point {
      margin-left: -5px;
      margin-right: 0;
      margin-top: -5px;
      margin-bottom: 8px;
    }
  
    .point .material-icons-symbols {
      font-size: 14px;
    }
  
    .point a {
      font-size: 14px;
      padding: 0;
      margin: 5px;
    }
  
    .point .right a {
      display: none;
    }
  
    .point .left .more {
      display: none;
    }
  
    .searchinput {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 80px;
      left: 6px;
      height: 20px;
      width: 340px;
      background: none;
    }
  
    .searchinput input {
      font-size: 16px;
      background: none;
    }
  
    .contents {
      margin: 5px;
    }
  
    .contents .contents-border {
      padding-top: 15px;
      border-top: 6px solid rgb(219, 219, 219);
    }
  
    .contents span {
      font-size: 12px;
    }
  
    .contents .heading {
      font-weight: 100;
      font-size: 22px;
      margin: 5px 0;
    }
  
    .contents a p {
      font-size: 12px;
    }
  
    .contents .detail {
      font-size: 16px;
    }
  
    .contents .belowdetail {
      padding: 0;
    }
  
    .bottom-first {
      height: 35px;
      line-height: 20px;
    }
  
    .bottom-first .india {
      margin-left: 0;
      padding-bottom: 15px;
      font-size: 15px;
    }
  
    .bottom-first div {
      position: absolute;
      top: 6px;
      padding: 5px;
      margin: 0 0 0 70px;
    }
  
    .bottom-first strong {
      font-size: 15px;
    }
  
    .bottom-first .location {
      font-size: 14px;
    }
  
    .bottom-first .update {
      font-size: 14px;
    }
  
    .bottom-mid {
      height: 25px;
      margin-left: -198px;
      font-size: 15px;
      padding-top: 14px;
    }
  
    .bottom-mid a {
      margin: 0 22px 0 0;
    }
  
    .bottom-last {
      height: 100px;
      margin: 0 5px;
      font-size: 14px;
    }
  
    .bottom-last p {
      text-align: center;
    }
  
    .bottom-last a {
      display: block;
    }
  }